*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    width: 100%;
}

#mainContent {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;

    /* scroll-snap-type: y mandatory; */
    scrollbar-width: none;
}

#mainContent::-webkit-scrollbar {
    display: none;              /* Chrome / Safari */
}

.fullscreen {
    height: 100vh;
    width: 100%;
    padding: 20px;

    /* scroll-snap-align: center; */
}

#titleScreen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleOverlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#titleWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 15%;
    min-width: 30%;
    /* background: white; */
    outline: 6px solid white;
    backdrop-filter: blur(1px);
}

#title {
    padding: 30px;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}

#starCanvas {
    /* position: fixed; */
    width: 100%;
    height: inherit;
    z-index: -1;
}

.arrowButton {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    z-index: 10;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateX(-50%) translateY(0);}
    40% {transform: translateX(-50%) translateY(-10px);}
    60% {transform: translateX(-50%) translateY(-5px);}
}

#detailScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#clubDetailsPane {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#waveWrapper {
    width: 50%;
    height: auto;
    padding: 100px;
}

#waveCanvas {
    width: 100%;
    aspect-ratio: 1;
    display: block;
    background: transparent;
}