---
layout: none
permalink: /
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="static/images/logo/logoDark.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Graphics</title>
    <script src="static/js/main.js" type="module"></script>
    <script src="static/js/wave.js" type="module"></script>
    <script src="static/js/stars.js" type="module"></script>
    <script src="static/js/flow.js" type="module"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div id="mainContent">
        <div id="titleScreen" class="fullscreen">
            <canvas id="starCanvas" class="clickable"></canvas>
            <div id="titleOverlay" class="overlayFull">
                <div id="titleWrapper" class="clickable">
                    <div id="titleMain">
                        TJ Graphics
                    </div>
                </div>
            </div>
            <button id="scrollArrow" class="arrowButton">↓</button>
        </div>
        <div id="introTransition" class="transitionSec"></div>
        <div id="detailScreen" class="fullscreen">
            <div id="detailOverlay" class="overlayFull clickable">
                <div id="clubDetailsPane">
                    <div id="detailsWrap">
                        <div id="details">
                            <p>Meetings every <strong><em>Friday 8B</em></strong></p>
                            <p>Learn everything about computer graphics, from the basics of rasterization to cutting edge algorithms</p>
                            <p>Activites include:</p>
                            <ul>
                                <li>Lectures</li>
                                <li>In-house shader design competitions</li>
                                <li>Long-term project guidance</li>
                                <li>...Snacks!</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="waveWrapper">
                    <canvas id="waveCanvas" class="clickable" width="1000px" height="1000px"></canvas>
                </div>
                <button id="scrollArrow2" class="arrowButton">↓</button>
            </div>
            <div id="detailBack" class="overlayFull">
                <div id="flowWrap" class="overlayFull">
                    <canvas id="flowCanvas"></canvas>
                </div>
            </div>
        </div>
        <div id="secondTransition" class="transitionSec"></div>
        <div id="infoScreen" class="fullscreen">
            <div id="infoOverlay" class="overlayFull clickable">
                <div id="infoPane">
                    <div id="textSection">
                        <p>Resources</p>
                        <ul>
                            <li>Textbook 1: <a href="https://pbr-book.org/4ed/contents">Physically Based Rendering: From Theory To Implementation</a></li>
                            <li>Textbook 2: <a href="https://cgisutic.wordpress.com/wp-content/uploads/2016/07/computer_graphics_principles_and_practice.pdf">Computer Graphics: Princples and Practice (3rd Edition)</a></li>
                            <li>Youtube: <a href="https://www.youtube.com/@Acerola_t/videos">Entertaining algorithm explanations</a></li>
                        </ul>
                    </div>
                    <div class="sectionSep"></div>
                    <div id="contactInfo">
                        <p>Contact Info</p>
                        <ul>
                            <li>Contact us at <a href="mailto:tjhsst.graphics@gmail.com">tjhsst.graphics@gmail.com</a></li>
                            <li>Check out our <a href="https://discord.gg/aXtDPZzMXE">Discord</a>, this is where we make all announcements</li>
                            <li>Follow our Instagram <a href="https://www.instagram.com/tjgraphicsclub/">@tjgraphicsclub</a></li>
                        </ul>
                    </div>
                    <div class="sectionSep"></div>
                    <div id="officers">
                        <p>2025-26 Officers</p>
                        <ul>
                            <li>Petr Kisselev (Founder, Captain)</li>
                            <li>Caleb Jobe (Officer)</li>
                            <li>Bach Nguyen (Officer)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pageIndicator">
        <div class="dot active" data-index="0"></div>
        <div class="dot" data-index="1"></div>
        <div class="dot" data-index="2"></div>
    </div>
</body>
</html>
