---
layout: none
permalink: /
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="static/images/logo/logoDark.jpg">
    <link rel="stylesheet" href="static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ Graphics</title>
</head>
<body>
    <div id="titleScreen" class="fullscreen">
        <div id="titleWrapper">
            <div id="title">
                TJ Graphics
            </div>
        </div>
        <canvas id="starCanvas"></canvas>
    </div>
    <div id="detailScreen" class="fullscreen">
        <div id="waveWrapper">
            <canvas id="waveCanvas" width="1000px" height="1000px"></canvas>
        </div>
    </div>
</body>
<script src="static/js/wave.js" type="module"></script>
<script src="static/js/stars2.js" type="module"></script>
</html>
